
.container{
    display: flex;
    border: solid 3px teal;
    height: 600px;
    width: 400px;

    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.box{
    background-color: rgb(165, 0, 129);
    height: 100px;
    min-width: 100px;
    margin: 8px;
}